body {  
    font-family: 'Barlow Semi Condensed', sans-serif;
}
.float-container{
    padding: 20px
}
.left-section{
    background:#FFFFFF;
    width:50%;
    padding: 10px;
    float: left;
}   
.right-section{
    background:#FFFFFF;
    width:45%;
    padding: 10px;
    float: right;
}        
.heading {
    font-size: 25px;
    margin-right: 25px;
    display:block;
    padding:0px 0px 10px 5px;
} 
.sub-heading {
    font-size: 18px;
    padding:0px 0px 0px 10px;
} 
.side-heading {
    display: inline;
    font-size: 18px;
    padding:0px 0px 0px 10px;
}
.drop-down {
    float: right;
    width: 135px;
    border-radius: 10px;
    box-shadow:0px 1px 2px 1px #aa9191;
    display: inline;
    text-align: center;
    background-color: #f2f2f2;
}.dropdown-main{
    float: right;
    width: 175px;
    border-radius: 10px;
    box-shadow:0px 1px 2px 1px #aa9191;
    display: inline;
    text-align: center;
    background-color: #f2f2f2;
}
.review {
    padding:0px 0px 20px 5px;
}
.comment {
    font-size: 18px;
    padding:10px 0px 0px 5px;
}
.fa {
    font-size:25px !important;
    padding:0px 0px 0px 5px;
}  
.checked, .fa-star-half-o, .fa-star-o {
    color: orange;
}

.vote {
    display: inline;
    /* position: absolute; */
    float:right;
    display: flex;
    cursor: pointer;
    color: #687074;
    padding: 0px 25px 0px 0px;
    /* right: 96px; */
    /* width:50%; */

    outline: none !important;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    
}

.vote.on_up {
color: #f48024
}
.vote.on_down {
    color: #2c44a4
}

.upvote {
    display: inline;
    position: absolute;
    

}

