body {  
    font-family: 'Barlow Semi Condensed', sans-serif;
}
.main-section{
    background:#FFFFFF;
    width:50%;
    /* margin: 0 auto; */
    padding: 10px;
    /* margin-top:5px; */
    /* box-shadow:0px 2px 7px 1px #aa9191; */
    position: relative;
}         
.heading {
    font-size: 25px;
    margin-right: 25px;
    display:block;
    padding:0px 0px 10px 5px;
} 
.sub-heading {
    font-size: 18px;
    padding:0px 0px 0px 10px;
} 
.side-heading {
    display: inline;
    font-size: 18px;
    padding:0px 0px 0px 10px;
}
.drop-down {
    position: absolute;
    right: 25px;
    width: 135px;
    border-radius: 10px;
    box-shadow:0px 1px 2px 1px #aa9191;
    display: inline;
    text-align: center;
    background-color: #f2f2f2;
    
}
.review {
    padding:0px 0px 20px 5px;
}
.comment {
    font-size: 18px;
    padding:10px 0px 0px 5px;
}
.fa {
    font-size:25px !important;
    padding:0px 0px 0px 5px;
}  
.checked, .fa-star-half-o, .fa-star-o {
    color: orange;
}

.vote {
    display: inline;
    position: absolute;
    cursor: pointer;
    color: #687074;
    right: 74px;

    outline: none !important;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    
}

.vote.on_up {
color: #f48024
}
.vote.on_down {
    color: #2c44a4
}

.upvote {
    display: inline;
    position: absolute;
    

}

