{% extends "base.html" %}
{% block content %}



<h1>My Shopping Cart</h1>
<table class='table table-hover table-bordered container'>
    <thead class="thead-dark">
      <tr>
        <th scope="col">Product Name</th>
        <th scope="col">Quantity</th>
        <th scope="col">Unit Price</th>
        <th scope="col">Total Price</th>
        <th scope="col">Image</th>
        <th scope="col">Remove Items</th>
      </tr>
    </thead>
    <tbody>
      {% for product in user_cart %}
        <tr>
          <td><a href="{{ url_for('products.products', pid=product.product_id, sortoption=0) }}" type="button" class="btn btn-light">{{product.name}}</a></td>
          <td>
              <form action="{{url_for('cart.inc_quantity')}}" method="post">
                  <input type="hidden" name="pid" value="{{product.product_id}}">
                  <input type="hidden" name="quantity" value="{{product.quantity}}">
                  <input style="display:block; margin-left:150px;"  width="25" type="image" name="add" src="https://cdn-icons-png.flaticon.com/512/117/117885.png">
              </form> 
              <br>
                <div style="display:block; margin-left:160px">{{product.quantity}}</div>
              <br>
              <form action="{{url_for('cart.dec_quantity')}}" method="post">
                <input type="hidden" name="pid" value="{{product.product_id}}">
                <input type="hidden" name="quantity" value="{{product.quantity}}">
                <input style="display:block; margin-left:150px;" width="27" type="image" name="add" src="https://static.thenounproject.com/png/261368-200.png">
            </form>
            </td>
          <td>{{product.price}}</td>
          <td>{{product.price * product.quantity}}</td>
          <td><img style="display:block; margin-left:auto; margin-right: auto;" width="130" src="{{product.image}}"/></td>
          <td><form action="{{url_for('cart.remove_item')}}" method="post">
              <input type="hidden" name="pid" value="{{product.product_id}}">
              <input style="display:block; margin-left:auto; margin-right:auto; margin-top:auto" width="60" type="image" name="remove" src="https://cdn-icons-png.flaticon.com/512/3096/3096673.png">
          </form>
        </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <br></br>

  <h1>Total: {{total_price}}</h1>

  <br></br>

  <form style="text-align: center" action="{{ url_for('cart.submit_order')}}" method="post">
    <input type="hidden" name="total" value="{{total_price}}">
    <input width="300" type="image" name="submit"
      src="https://www.seekpng.com/png/full/397-3970101_place-order-button-png.png"
      alt="Place order">
  </form>

{% endblock %}