{% extends "base.html" %}

{% block content %}
<!-- Back button at top of page -->
<p><a href="{{ url_for('index.index') }}" type="button" class="btn btn-light">Back</a></p>

<br><br>

<!-- Product information table -->
<h2>Product Information:</h2>
<img width="200" src="{{prod_image}}"/>
<br><br>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product Name</th>
      <th scope="col">Description</th>
      <th scope="col">Category</th>
      <th scope="col">Price</th>
      <th scope="col">Available Quantity</th>
      <th scope="col">Sold By</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <th scope="row">{{prod_name}}</th>
        <td>{{prod_desc}}</td>
        <td>{{prod_cat}}</td>
        <td>{{prod_price}}</td>
        <td>{{prod_quant}}</td>
        <td><a href="{{ url_for('users.publicprofile', uid=prod_seller, sortoption=0) }}" type="button" class="btn btn-light">{{prod_seller}}</a></td>
      </tr>
  </tbody>
</table>

<!-- Add to cart button -->
<p style="text-align: center"><a href="{{ url_for('cart.carts') }}" type="button" class="btn btn-light">Add To Cart</a></p>

<!-- Import css file / star images -->
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/reviews.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<!-- script in JS to display stars for each reviewer's rating -->
<!-- Return list of size 5 representing how many stars
        should be shown for review
        -1 = empty, 0 = half, 1 = full -->
<script>
  function stars(rating){
    // Star types
    let filled_star = "<span class=\"fa fa-star checked\"></span>"
    let empty_star = "<span class=\"fa fa-star-o\"></span>"
    let half_star = "<i class=\"fa fa-star-half-o\" aria-hidden=\"true\"></i>"

    let dec = rating % 1  // Number after the decimal
    let full = Math.floor(rating) // Number before decimal

    var stars = [-1, -1, -1, -1, -1]  // Initial stars all to be empty
    var half = false

    if (0.25 < dec && dec <= 0.75){
      // When decimal value in this range, we have half star
      half = true
    }

    // Update appropiate indices to be 1 for filled
    for (let i = 0; i < full; i++) {
      stars[i] = 1
    }

    if (half == true) {
      stars[full] = 0
    } else if (dec > 0.75) {
      // Round up to next star
      stars[full] = 1
    }

    // Write stars
    for (let i = 0; i < stars.length; i++) {
      let val = stars[i]
      if (val == 1) {
        document.write(filled_star)
      } else if (val == 0) {
        document.write(half_star)
      } else {
        document.write(empty_star)
      }
    }   
  }

  // Method used for selecting correct sort option after page is reloaded
  function selected(val) {
    var rec = "<option value=\"0\">Most Recent</option>"
    var desc = "<option value=\"1\">Rating (Desc)</option>"
    var asc = "<option value=\"2\">Rating (Asc) </option>"
    if (val == "0") {
      rec = "<option value=\"0\" selected>Most Recent</option>"
    } else if (val == "1") {
      desc = "<option value=\"1\" selected>Rating (Desc)</option>"
    } else {
      asc = "<option value=\"2\" selected>Rating (Asc)</option>"
    }
    document.write(rec)
    document.write(desc)
    document.write(asc)

    for (const btn of document.querySelectorAll('.vote')) {
        btn.addEventListener('click', event)
    }
  }

  // Updates upvote arrow color 
  function changeColor(val) {
    if (val == 1) {
      event.currentTarget.classList.toggle('on_up')
    } else if (val == -1) {
      event.currentTarget.classList.toggle('on_down')
    }
  }

  $(function() {
    $('.confirm').click(function() {
        return window.confirm("Are you sure you want to delete this review?");
    });
  });

  // Functions for changing color of upvote buttons
  // Also toggles other state if active
  function like(id) {
    let gray = '#687074'
    let idx = parseInt(id)
    likes[idx].style.color = likes[idx].style.color === 'blue' ? gray : 'blue';
    dislikes[idx].style.color = gray;
  }

  function dislike(id) {
    let gray = '#687074'
    let idx = parseInt(id)
    likes[idx].style.color = gray;
    dislikes[idx].style.color = dislikes[idx].style.color === 'blue' ? gray : 'blue';
  }
</script>

<body>
<hr style="border:1px solid #f1f1f1">

<div class="float-container">
<div class="left-section">
  <span class="heading">Customer Reviews ({{review_count}})</span>

  <!-- Call stars method to show product average reviews -->
  <script>stars({{review_avg}})</script>
  <span class="sub-heading">{{review_avg}} out of 5</span>

  <!-- Dropdown for sorting options -->
  <select name="sort-options" id="sort-options" class="drop-down" onchange="location = this.value">
    <script>selected({{sortoption}})</script>
  </select>

  <hr style="border:3px solid #f1f1f1">

  <!-- Loop to display reach review -->
  {% for review in reviews%}
  <div class="review">
    <span class="heading">
      <a href="{{ url_for('users.publicprofile', uid=review.buyer_id, sortoption=0) }}" type="button" 
        class="btn btn-light">{{reviewer_names[loop.index-1]}}
      </a>
    <a style="display: inline; font-size: 18px;">{{review.date|format_date('standard')}}</a>

    <!-- Like/dislikes -->
    <script>
      var likes = document.getElementsByClassName('fa-thumbs-up');
      var dislikes = document.getElementsByClassName('fa-thumbs-down');
    </script>

    <i id="{{loop.index-1}}" class="fa fa-thumbs-down vote" onclick="dislike(this.id)"></i>
    <p class="upvotes">{{review_upvotes[loop.index-1]}}</p>
    <i id="{{loop.index-1}}" class="fa fa-thumbs-up vote" onclick="like(this.id)"></i>

    <p></p>

    <!-- Display star ratings for review -->
    <script>stars({{review.rating}})</script>
    <a style="display: inline; font-size: 18px; padding-left: 10px; font-style: b;"><strong>{{review.title}}</strong></a>
    <p class="comment">{{review.comment}}</p>
    <!-- Check if review has default value "IMAGE"
          otherwise if there is valid link
          display image -->
    {% if review.image != "IMAGE" %} 
      <img width="100" src="{{review.image}}"/>
    {% endif %}
    <hr style="border:1px dashed #f1f1f1">
    </div>
  {% endfor %}

</div>

  <div class="right-section">
  <!-- <span class="heading">Customer Reviews ({{review_count}})</span> -->

  <div>
    {% if current_user.is_authenticated and has_reviewed %}
      <p class="heading">Your Review:</p>
      <span style="padding:0px 0px 0px 10px;"><a type="button" class="btn btn-light" style="display: inline;""
        href="{{ url_for('products.editProductReview', pid=pid) }}">Edit Review</a></span>
      <!-- <br><br> -->


      <span><a type="button" class="confirm btn btn-light" style="float: right; display: inline;"
        href="{{ url_for('products.deleteReview', pid=pid, bid=current_user_review.buyer_id) }}">Delete Review</a></span>
      <!-- <br><br> -->
      <hr style="border:1px dashed #f1f1f1">
      <div class="review">
        <span class="heading">
          <a href="{{ url_for('users.publicprofile', uid=current_user_review.buyer_id, sortoption=0) }}" type="button" 
            class="btn btn-light">{{current_user_name}}
          </a>
        <a style="display: inline; font-size: 18px;">{{current_user_review.date|format_date('standard')}}</a>
      
      
      <p></p>

      <script>stars({{current_user_review.rating}})</script>
      <a style="display: inline; font-size: 18px; padding-left: 10px; font-style: b;"><strong>{{current_user_review.title}}</strong></a>
      <p class="comment">{{current_user_review.comment}}</p>
      <!-- Check if review has default value "IMAGE"
            otherwise if there is valid link
            display image -->
      {% if current_user_review.image != "IMAGE" %} 
        <img width="100" src="{{current_user_review.image}}"/>
      {% endif %}
       
      </div>



  {% elif current_user.is_authenticated and has_purchased %}
    <p><a href="{{ url_for('products.reviewProduct', pid=pid) }}" type="button" class="btn btn-light">Review This Product</a></p>
    <!-- <br><br> -->
  {% endif %}
  </div>
  </div>

</div>
</body>
{% endblock %}
