{% extends "base.html" %}

{% block content %}
<!-- Back button at top of page -->
<p><a href="{{ url_for('index.index') }}" type="button" class="btn btn-light">Back</a></p>

<br><br>

<!-- Product information table -->
<h2>Product Information:</h2>
<img width="200" src="{{prod_image}}"/>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product Name</th>
      <th scope="col">Description</th>
      <th scope="col">Category</th>
      <th scope="col">Price</th>
      <th scope="col">Available Quantity</th>
      <th scope="col">Sold By</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <th scope="row">{{prod_name}}</th>
        <td>{{prod_desc}}</td>
        <td>{{prod_cat}}</td>
        <td>{{prod_price}}</td>
        <td>{{prod_quant}}</td>
        <td><a href="{{ url_for('users.privateprofile', uid=prod_seller) }}" type="button" class="btn btn-light">{{prod_seller}}</a></td>
      </tr>
  </tbody>
</table>

<!-- Add to cart button -->
<p style="text-align: center"><a href="{{ url_for('cart.carts') }}" type="button" class="btn btn-light">Add To Cart</a></p>

<!-- Import css file / star images -->
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/reviews.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<!-- script in JS to display stars for each reviewer's rating -->
<!-- Return list of size 5 representing how many stars
        should be shown for review
        -1 = empty, 0 = half, 1 = full -->
<script>
  function stars(rating){
    // Star types
    let filled_star = "<span class=\"fa fa-star checked\"></span>"
    let empty_star = "<span class=\"fa fa-star-o\"></span>"
    let half_star = "<i class=\"fa fa-star-half-o\" aria-hidden=\"true\"></i>"

    let dec = rating % 1  // Number after the decimal
    let full = Math.floor(rating) // Number before decimal

    var stars = [-1, -1, -1, -1, -1]  // Initial stars all to be empty
    var half = false

    if (0.25 < dec && dec <= 0.75){
      // When decimal value in this range, we have half star
      half = true
    }

    // Update appropiate indices to be 1 for filled
    for (let i = 0; i < full; i++) {
      stars[i] = 1
    }

    if (half == true) {
      stars[full] = 0
    } else if (dec > 0.75) {
      // Round up to next star
      stars[full] = 1
    }

    // Write stars
    for (let i = 0; i < stars.length; i++) {
      let val = stars[i]
      if (val == 1) {
        document.write(filled_star)
      } else if (val == 0) {
        document.write(half_star)
      } else {
        document.write(empty_star)
      }
    }   
  }

  // Method used for selecting correct sort option after page is reloaded
  function selected(val) {
    var rec = "<option value=\"0\">Most Recent</option>"
    var desc = "<option value=\"1\">Rating (Desc)</option>"
    var asc = "<option value=\"2\">Rating (Asc) </option>"
    if (val == "0") {
      rec = "<option value=\"0\" selected>Most Recent</option>"
    } else if (val == "1") {
      desc = "<option value=\"1\" selected>Rating (Desc)</option>"
    } else {
      asc = "<option value=\"2\" selected>Rating (Asc)</option>"
    }
    document.write(rec)
    document.write(desc)
    document.write(asc)

    for (const btn of document.querySelectorAll('.vote')) {
        btn.addEventListener('click', event)
    }
  }

  // Updates upvote arrow color 
  function changeColor(val) {
    if (val == 1) {
      event.currentTarget.classList.toggle('on_up')
    } else if (val == -1) {
      event.currentTarget.classList.toggle('on_down')
    }
  }
</script>

<body>
<hr style="border:1px solid #f1f1f1">

<div class="main-section">
  <span class="heading">Customer Reviews ({{review_count}})</span>

  <!-- Call stars method to show product average reviews -->
  <script>stars({{review_avg}})</script>
  <span class="sub-heading">{{review_avg}} out of 5</span>

  <!-- Dropdown for sorting options -->
  <select name="sort-options" id="sort-options" class="drop-down" onchange="location = this.value">
    <script>selected({{sortoption}})</script>
  </select>

  <hr style="border:3px solid #f1f1f1">

  <!-- Loop to display reach review -->
  {% for review in reviews%}
  <div class="review">
    <span class="heading">
      <a href="{{ url_for('users.privateprofile', uid=review.buyer_id) }}" type="button" 
        class="btn btn-light">{{reviewer_names[loop.index-1]}}
      </a>
    <a style="display: inline; font-size: 18px;">{{review.date|format_date('standard')}}</a>
    
    <!-- <span style="align-items: right;">test</span> -->
    <vote>
    <span class="vote up" onclick="changeColor(1);">
      <svg width="36" height="36" id="vote">
        <path d="M2 26h32L18 10z" fill="currentColor"></path>
      </svg>
    </span>
    <p style="text-align: right; padding-right: 50px;">{{review_upvotes[loop.index-1]}}</p>
    
    <span class="vote down" onclick="changeColor(-1);">
      <svg width="36" height="36">
        <path d="M2 10h32L18 26 2 10z" fill="currentColor"></path>
      </svg>
    </span>
    </vote>

    <p></p>

    <script>stars({{review.rating}})</script>
    <a style="display: inline; font-size: 18px; padding-left: 10px; font-style: b;"><strong>{{review.title}}</strong></a>
    <p class="comment">{{review.comment}}</p>
    <!-- Check if review has default value "IMAGE"
          otherwise if there is valid link
          display image -->
    {% if review.image != "IMAGE" %} 
      <img width="100" src="{{review.image}}"/>
    {% endif %}
  </div>
  {% endfor %}

</div>
</body>
{% endblock %}
