{% extends "base.html" %}

{% block content %}

<!-- back button -->

<p></p>
<p><a href="{{ url_for('users.sortedprofile', sortoption=0) }}" type="button" class="btn btn-secondary">Back</a></p>

<!-- display form for editing user password -->

<h1>Edit User Password</h1>

<form action="" method="post">
  {{ form.hidden_tag() }}
  <p>
    {{ form.password.label }}<br/>
    {{ form.password(size=32) }}<br/>
    {% for error in form.password.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.password2.label }}<br/>
    {{ form.password2(size=32) }}<br/>
    {% for error in form.password2.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.password3.label }}<br/>
    {{ form.password3(size=32) }}<br/>
    {% for error in form.password3.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>{{ form.submit() }}</p>
</form>

{% endblock %}
