{% extends "base.html" %}

{% block content %}

<!-- back button -->

<p></p>
<p><a href="{{ url_for('users.sortedprofile', sortoption=0) }}" type="button" class="btn btn-secondary">Back</a></p>

<!-- display form for editing user name -->

<h1>Edit User Name</h1>

<form action="" method="post">
  {{ form.hidden_tag() }}
  <p>
    {{ form.firstname.label }}<br/>
    {{ form.firstname(size=32) }}<br/>
    {% for error in form.firstname.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.lastname.label }}<br/>
    {{ form.lastname(size=32) }}<br/>
    {% for error in form.lastname.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.password.label }}<br/>
    {{ form.password(size=32) }}<br/>
    {% for error in form.password.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>{{ form.submit() }}</p>
</form>

{% endblock %}
