{% extends "base.html" %}

{% block content %}
<p><a href="{{ url_for('inventory.index') }}" type="button" class="btn btn-light">Back</a></p>

<h1>Edit Purchase Status</h1>
<p>Purchase ID: {{purchase.id}}</p>
<p>Buyer ID: {{purchase.uid}}</p>
<p>Date Purchased: {{purchase.time_purchased}}</p>
<p>Product Id: {{purchase.pid}}</p>
<p>Product Name: {{purchase.pname}}</p>
<p>Purchase Quantity: {{purchase.quantity}}</p>

<form action="" method="post">
  {{ form.hidden_tag() }}
  <p><b>
    {{ form.newStatus.label }}: 
    {{ form.newStatus(size=1) }}<br/>
    {% for error in form.newStatus.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </b></p>
  <p>{{ form.submit() }}</p>
</form>

{% endblock %}