{% extends "base.html" %}

{% block content %}

{% if current_user.is_authenticated and current_user.id in sellers %}
<p><a href="{{ url_for('inventory.index') }}" type="button" class="btn btn-light">Seller Inventory</a></p>
{% endif %}

<br><br>

<h2>Products for sale:</h2>

<div class="dropdown" style="color: aliceblue; text-align: right; margin-bottom: 25px; position:static">
  <div class="dropdown" style="color: aliceblue; text-align: right; margin-bottom: 25px; position:static">
    <button class="dropbtn">Sort By</button>
    <div class="dropdown-content">
      <a href="{{ url_for('index.sortedindex', sortoption=1) }}" type="button" class="btn btn-light">Price Asc</a>
      <a href="{{ url_for('index.sortedindex', sortoption=2) }}" type="button" class="btn btn-light">Price Desc</a>
      <a href="{{ url_for('index.index') }}" type="button" class="btn btn-light">Product ID</a>
    </div>
  </div>
  <div class="dropdown" style="color: aliceblue; text-align: right; margin-bottom: 25px; position:static">
    <button class="dropbtn">Filter By Category</button>
    <div class="dropdown-content">
      <a href="{{ url_for('index.categorizedindex', category=1) }}" type="button" class="btn btn-light">Clothing</a>
      <a href="{{ url_for('index.categorizedindex', category=2) }}" type="button" class="btn btn-light">Food</a>
      <a href="{{ url_for('index.categorizedindex', category=3) }}" type="button" class="btn btn-light">Gadgets</a>
      <a href="{{ url_for('index.categorizedindex', category=4) }}" type="button" class="btn btn-light">Media</a>
      <a href="{{ url_for('index.categorizedindex', category=5) }}" type="button" class="btn btn-light">Misc</a>
    </div>
  </div>
</div>

<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
    {% for product in avail_products%}
      <tr>
        <th scope="row">{{product.id}}</th>
        <td><a href="{{ url_for('products.products', pid=product.id) }}" type="button" class="btn btn-light">{{product.name}}</a></td>
        <td>{{product.price}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
