{% extends "base.html" %}

{% block content %}

<!-- Import css file / star images -->
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/reviews.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<!-- script in JS to display stars for each reviewer's rating -->
<!-- Return list of size 5 representing how many stars
        should be shown for review
        -1 = empty, 0 = half, 1 = full -->
<script>
  function stars(rating){
    // Star types
    let filled_star = "<span class=\"fa fa-star checked\"></span>"
    let empty_star = "<span class=\"fa fa-star-o\"></span>"
    let half_star = "<i class=\"fa fa-star-half-o\" aria-hidden=\"true\"></i>"

    let dec = rating % 1  // Number after the decimal
    let full = Math.floor(rating) // Number before decimal

    var stars = [-1, -1, -1, -1, -1]  // Initial stars all to be empty
    var half = false

    if (0.25 < dec && dec <= 0.75){
      // When decimal value in this range, we have half star
      half = true
    }

    // Update appropiate indices to be 1 for filled
    for (let i = 0; i < full; i++) {
      stars[i] = 1
    }

    if (half == true) {
      stars[full] = 0
    } else if (dec > 0.75) {
      // Round up to next star
      stars[full] = 1
    }

    // Write stars
    for (let i = 0; i < stars.length; i++) {
      let val = stars[i]
      if (val == 1) {
        document.write(filled_star)
      } else if (val == 0) {
        document.write(half_star)
      } else {
        document.write(empty_star)
      }
    }   
  }

  // Method used for selecting correct sort option after page is reloaded
  function selected_sort(val) {
    var sortby = "<option disabled label=\"Sort By\" value=\"\" >Sort By</option>"
    var none = "<option value=\"{{ url_for('index.sortedindex', sortoption=-1, page_num=1) }}\">None</option>"
    var asc = "<option value=\"{{ url_for('index.sortedindex', sortoption=1, page_num=1) }}\">Price (ASC)</option>"
    var desc= "<option value=\"{{ url_for('index.sortedindex', sortoption=2, page_num=1) }}\">Price (DESC)</option>"
    var rating = "<option value=\"{{ url_for('index.sortedindex', sortoption=3, page_num=1) }}\">Rating</option>"

    if (val == "0"){
      sortby = "<option disabled label=\"Sort By\" value=\"\" selected>Sort By</option>"
    } else if (val == "-1") {
      none = "<option value=\"{{ url_for('index.sortedindex', sortoption=-1, page_num=1) }}\" selected>None</option>"
    } else if (val == "1") {
      asc = "<option value=\"{{ url_for('index.sortedindex', sortoption=1, page_num=1) }}\" selected>Price (ASC)</option>"
    } else if (val == "2") {
      desc= "<option value=\"{{ url_for('index.sortedindex', sortoption=2, page_num=1) }}\" selected>Price (DESC)</option>"
    } else if (val == "3") {
      rating = "<option value=\"{{ url_for('index.sortedindex', sortoption=3, page_num=1) }}\" selected>Rating</option>"
    }
    
    document.write(sortby)
    document.write(none)
    document.write(asc)
    document.write(desc)
    document.write(rating)  
  }

  // Method used for selecting correct categoryafter page is reloaded
  function selected_category(val) {
    var filterby = "<option disabled label=\"Filter By Category\" value=\"\" >Filter By Category</option>"
    var none = "<option value=\"{{ url_for('index.categorizedindex', category=-1, page_num=1) }}\">None</option>"
    var clothing = "<option value=\"{{ url_for('index.categorizedindex', category=1, page_num=1) }}\">Clothing</option>"
    var food = "<option value=\"{{ url_for('index.categorizedindex', category=2, page_num=1) }}\">Food</option>"
    var gadgets = "<option value=\"{{ url_for('index.categorizedindex', category=3, page_num=1) }}\">Gadgets</option>"
    var media = "<option value=\"{{ url_for('index.categorizedindex', category=4, page_num=1) }}\">Media</option>"
    var misc = "<option value=\"{{ url_for('index.categorizedindex', category=5, page_num=1) }}\">Misc</option>"


    if (val == "0"){
      filterby = "<option disabled label=\"Filter By Category\" value=\"\" selected>Filter By Category</option>"
    } else if (val == "-1") {
      none ="<option value=\"{{ url_for('index.categorizedindex', category=-1, page_num=1) }}\" selected>None</option>"
    } else if (val == "1") {
      clothing = "<option value=\"{{ url_for('index.categorizedindex', category=1, page_num=1) }}\" selected>Clothing</option>"
    } else if (val == "2") {
      food = "<option value=\"{{ url_for('index.categorizedindex', category=2, page_num=1) }}\" selected>Food</option>"
    } else if (val == "3") {
      gadgets = "<option value=\"{{ url_for('index.categorizedindex', category=3, page_num=1) }}\" selected>Gadgets</option>"
    } else if (val == "4") {
      media = "<option value=\"{{ url_for('index.categorizedindex', category=4, page_num=1) }}\" selected>Media</option>"
    } else if (val == "5") {
      misc = "<option value=\"{{ url_for('index.categorizedindex', category=5, page_num=1) }}\" selected>Misc</option>"
    }
    
    document.write(filterby)
    document.write(none)
    document.write(clothing)
    document.write(food)
    document.write(gadgets)  
    document.write(media)  
    document.write(misc)  
  }
</script>


<p></p>

<h2>Products for sale:</h2>


<div class="dropdown" style="color: green; text-align: right; margin-bottom: 25px; position:static">
  <select name="sort-options" id="sort-options" class="dropdown-main" onchange="location = this.value">
    <script>selected_sort({{sortoption}})</script>
  </select>
  <br><br>
  <select name="category-options" id="category-options" class="dropdown-main" onchange="location = this.value">
    <script>selected_category({{category}})</script>
  </select> 

  <br><br>

  <form action="{{ url_for('index.index') }}" method="POST">
    {{ form.csrf_token }}
    {{ form.hidden_tag() }}
    <p>
      {{ form.searchValue.label }}<br/>
      {{ form.searchValue(size=32) }}<br/>
      {% for error in form.searchValue.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p><a href="{{ url_for('index.index') }}" type="button" class="btn btn-light">Clear</a> {{ form.submit() }}</p>
  </form>
</div>

<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Price</th>
      <th scope="col">Image</th>
      <th scope="col">Rating</th>
    </tr>
  </thead>
  <tbody>
    {% for product in avail_products%}
      <tr>
        <th scope="row">{{product.id}}</th>
        <td><a href="{{ url_for('products.products', pid=product.id, sortoption=0) }}" type="button" class="btn btn-light">{{product.name}}</a></td>
        <td>{{product.price}}</td>
        <td><img width="100" height="100" src="{{product.image}}"/></td>
        <td>
          <script>
            stars({{product_avgs[loop.index-1]}})
          </script>
        
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<!-- if this isn't the first page, have a previous page button -->
{% if page_num > 1 %}

<!-- if we have a sort, keep the sortedindex -->
{% if sortoption != 0 %}
<a href="{{ url_for('index.sortedindex', sortoption=sortoption, page_num=(page_num - 1)) }}" type="button" class="btn btn-light">prev</a>

{% else %}

<!-- if we have a category filter, keep the categorizedindex -->
{% if category != 0 %}
<a href="{{ url_for('index.categorizedindex', category=category, page_num=(page_num - 1)) }}" type="button" class="btn btn-light">prev</a>

<!-- default listings if there's no sort/filter -->
{% else %}
<a href="{{ url_for('index.sortedindex', sortoption=0, page_num=(page_num - 1)) }}" type="button" class="btn btn-light">prev</a>

{% endif %}
{% endif %}

{% endif %}

<!-- create a next page button -->

<!-- if we have a sort, keep the sortedindex -->
{% if sortoption != 0 %}
<a href="{{ url_for('index.sortedindex', sortoption=sortoption, page_num=(page_num + 1)) }}" type="button" class="btn btn-light">next</a>

{% else %}

<!-- if we have a category filter, keep the categorizedindex -->
{% if category != 0 %}
<a href="{{ url_for('index.categorizedindex', category=category, page_num=(page_num + 1)) }}" type="button" class="btn btn-light">next</a>

<!-- default listings if there's no sort/filter -->
{% else %}
<a href="{{ url_for('index.sortedindex', sortoption=0, page_num=(page_num + 1)) }}" type="button" class="btn btn-light">next</a>

{% endif %}
{% endif %}


{% endblock %}
