{% extends "base.html" %}

{% block content %}

<p></p>

<h2>Products for sale:</h2>


<div class="dropdown" style="color: green; text-align: right; margin-bottom: 25px; position:static">
  <select name="sort-options" id="sort-options" class="drop-down" onchange="location = this.value">
    <option selected disabled label="Sort By" value="">Sort By</option>
    <option value="{{ url_for('index.index') }}">None</option>
    <option value="{{ url_for('index.sortedindex', sortoption=1, page_num=1) }}">Price (ASC)</option>
    <option value="{{ url_for('index.sortedindex', sortoption=2, page_num=1) }}">Price (DESC)</option>
  </select> 
  <br><br>
  <select name="category-options" id="category-options" class="drop-down" onchange="location = this.value">
    <option selected disabled label="Filter By Category" value="">Filter By Category</option>
    <option value="{{ url_for('index.index') }}">None</option>
    <option value="{{ url_for('index.categorizedindex', category=1, page_num=1) }}">Clothing</option>
    <option value="{{ url_for('index.categorizedindex', category=2, page_num=1) }}">Food</option>
    <option value="{{ url_for('index.categorizedindex', category=3, page_num=1) }}">Gadgets</option>
    <option value="{{ url_for('index.categorizedindex', category=4, page_num=1) }}">Media</option>
    <option value="{{ url_for('index.categorizedindex', category=5, page_num=1) }}">Misc</option>
  </select> 

  <form action="{{ url_for('index.index') }}" method="POST">
    {{ form.csrf_token }}
    {{ form.hidden_tag() }}
    <p>
      {{ form.searchValue.label }}<br/>
      {{ form.searchValue(size=32) }}<br/>
      {% for error in form.searchValue.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p><a href="{{ url_for('index.index') }}" type="button" class="btn btn-light">Clear</a> {{ form.submit() }}</p>
  </form>
</div>

<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Price</th>
      <th scope="col">Image</th>
      <th scope="col">Rating</th>
    </tr>
  </thead>
  <tbody>
    {% for product in avail_products%}
      <tr>
        <th scope="row">{{product.id}}</th>
        <td><a href="{{ url_for('products.products', pid=product.id, sortoption=0) }}" type="button" class="btn btn-light">{{product.name}}</a></td>
        <td>{{product.price}}</td>
        <td><img width="100" height="100" src="{{product.image}}"/></td>
        <td>{{product_avgs[loop.index-1]}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<!-- if this isn't the first page, have a previous page button -->
{% if page_num > 1 %}

<!-- if we have a sort, keep the sortedindex -->
{% if sortoption != 0 %}
<a href="{{ url_for('index.sortedindex', sortoption=sortoption, page_num=(page_num - 1)) }}" type="button" class="btn btn-light">prev</a>

{% else %}

<!-- if we have a category filter, keep the categorizedindex -->
{% if category != 0 %}
<a href="{{ url_for('index.categorizedindex', category=category, page_num=(page_num - 1)) }}" type="button" class="btn btn-light">prev</a>

<!-- default listings if there's no sort/filter -->
{% else %}
<a href="{{ url_for('index.sortedindex', sortoption=0, page_num=(page_num - 1)) }}" type="button" class="btn btn-light">prev</a>

{% endif %}
{% endif %}

{% endif %}

<!-- create a next page button -->

<!-- if we have a sort, keep the sortedindex -->
{% if sortoption != 0 %}
<a href="{{ url_for('index.sortedindex', sortoption=sortoption, page_num=(page_num + 1)) }}" type="button" class="btn btn-light">next</a>

{% else %}

<!-- if we have a category filter, keep the categorizedindex -->
{% if category != 0 %}
<a href="{{ url_for('index.categorizedindex', category=category, page_num=(page_num + 1)) }}" type="button" class="btn btn-light">next</a>

<!-- default listings if there's no sort/filter -->
{% else %}
<a href="{{ url_for('index.sortedindex', sortoption=0, page_num=(page_num + 1)) }}" type="button" class="btn btn-light">next</a>

{% endif %}
{% endif %}


{% endblock %}
