{% extends "base.html" %}

{% block content %}
<p><a href="{{ url_for('index.index') }}" type="button" class="btn btn-light">Back</a></p>

<br><br>

<h2>Inventory:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
    </tr>
  </thead>
  <tbody>
    {% for product in sold_products%}
      <tr>
        <th scope="row">{{product.id}}</th>
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>
        <td>{{product.available_quantity}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<h2>Order History:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Buyer Name</th>
      <th scope="col">Buyer Address</th>
      <th scope="col">Date Ordered</th>
      <th scope="col">Product ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Quantity</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    {% for purchase in purchase_history%}
      <tr>
        <th scope="row">{{purchase_history.uid}}</th>
        <td>{{purchase_history.uid}}</td>
        <td>{{purchase_history.time_purchased}}</td>
        <td>{{purchase_history.pid}}</td>
        <td>{{purchase_history.pid}}</td>
        <td>{{purchase_history.quantity}}</td>
        <td>{{purchase_history.fulfilled}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
