{% extends "base.html" %}

{% block content %}
<p><a href="{{ url_for('index.index') }}" type="button" class="btn btn-light">Back</a></p>

<br><br>

<h2>Inventory:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
    </tr>
  </thead>
  <tbody>
    {% for product in avail_products%}
      <!-- {% if current_user.id == product.seller_id %} -->
      <tr>
        <th scope="row">{{product.id}}</th>
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>
        <td>{{product.available_quantity}}</td>
      </tr>
      <!-- {% endif %} -->
    {% endfor %}
  </tbody>
</table>

{% endblock %}
