{% extends "base.html" %}

{% block content %}
<p></p>
<p><a href="{{ url_for('inventory.index') }}" type="button" class="btn btn-secondary">Back</a></p>

<br>

<h2>Order History:</h2>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.js"></script>
<canvas id="pie-chart" width="500" height="10"></canvas>
<script>
    new Chart(document.getElementById("pie-chart"), {
         type: 'pie',
          data: {
            labels: {{labels | tojson}},
            datasets: [{
              label: "Count of Orders by Status",
              backgroundColor: {{["#12B879 ","#F7464A"] | tojson}},
            data: {{values | tojson}}
            }]
          },
          options: {
            title: {
              display: true,
              text: 'Count of Orders by Status'
            }
          }
        });
</script>


<div class="dropdown" style="color: green; text-align: right; margin-bottom: 25px; position:static">
  {%if filtered == '0'%} 
  <select name="category-options" id="category-options" class="drop-down" onchange="location = this.value">
    <option disabled label="Filter By Status" value="">Filter By Status</option>
    <option selected value="{{ url_for('inventory.ordersByStatus', status=0) }}">None</option>
    <option value="{{ url_for('inventory.ordersByStatus', status=1) }}">Fulfilled</option>
    <option value="{{ url_for('inventory.ordersByStatus', status=2) }}">Not Fulfilled</option>
  </select>
  {% elif filtered == '1'%} 
  <select name="category-options" id="category-options" class="drop-down" onchange="location = this.value">
    <option disabled label="Filter By Status" value="">Filter By Status</option>
    <option value="{{ url_for('inventory.ordersByStatus', status=0) }}">None</option>
    <option selected value="{{ url_for('inventory.ordersByStatus', status=1) }}">Fulfilled</option>
    <option value="{{ url_for('inventory.ordersByStatus', status=2) }}">Not Fulfilled</option>
  </select>
  {% elif filtered == '2'%} 
  <select name="category-options" id="category-options" class="drop-down" onchange="location = this.value">
    <option disabled label="Filter By Status" value="">Filter By Status</option>
    <option value="{{ url_for('inventory.ordersByStatus', status=0) }}">None</option>
    <option value="{{ url_for('inventory.ordersByStatus', status=1) }}">Fulfilled</option>
    <option selected value="{{ url_for('inventory.ordersByStatus', status=2) }}">Not Fulfilled</option>
  </select>
  {%else%} 
  <select name="category-options" id="category-options" class="drop-down" onchange="location = this.value">
    <option selected disabled label="Filter By Status" value="">Filter By Status</option>
    <option value="{{ url_for('inventory.ordersByStatus', status=0) }}">None</option>
    <option value="{{ url_for('inventory.ordersByStatus', status=1) }}">Fulfilled</option>
    <option value="{{ url_for('inventory.ordersByStatus', status=2) }}">Not Fulfilled</option>
  </select>
  {%endif%}

{%if not filtered%}
<form action="{{ url_for('inventory.orders') }}" method="POST"> 
{%else%}
<form action="{{ url_for('inventory.ordersByStatus', status=filtered) }}" method="POST">
{%endif%}
    {{ form.csrf_token }}
    {{ form.hidden_tag() }}
    <p>
      {{ form.searchValue.label }}<br/>
      {{ form.searchValue(size=32)}} {{ form.searchBy(size=1)}}<br/>
      {% for error in form.searchValue.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
      {% for error in form.searchBy.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p><a href="{{ url_for('inventory.orders') }}" type="button" class="btn btn-light">Clear</a> {{ form.submit() }}</p>
  </form>
</div>

<br>

<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Buyer Name</th>
      <th scope="col">Buyer Address</th>
      <th scope="col">Date Ordered</th>
      <th scope="col">Product ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Quantity</th>
      <th scope="col">Status</th>
      <th scope="col">Edit</th>
    </tr>
  </thead>
  <tbody>
    {% for purchase in purchase_history%}
      <tr>
        <!-- <th scope="row">{{purchase.bfname+' '+purchase.blname}}</th> -->
        <td><a href="{{ url_for('users.publicprofile', uid=purchase.uid, sortoption=0) }}" type="button" class="btn btn-light">{{purchase.bfname+' '+purchase.blname}}</a></td>
        <td>{{purchase.baddress}}</td>
        <td>{{purchase.time_purchased}}</td>
        <td>{{purchase.pid}}</td>
        <td>{{purchase.pname}}</td>
        <td>{{purchase.quantity}}</td>
        {% if purchase.fulfilled == 'f'%}
        <td>Fulfilled</td>
        {% else %}
        <td>Not Fulfilled</td>
        {%endif%}
        <td><a href="{{ url_for('inventory.editStatus', pid=purchase.id) }}">Edit</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
