<!-- This is the public user profile (not the private view) -->

{% extends "base.html" %}

{% block content %}

<br><br>

<h2 style="text-align: center">Public User Profile</h2>

<!-- Display publically revalent user information -->

<div>Name: {{user.firstname}} {{user.lastname}}</div>

<div>Account number: {{user.id}}</div>

<!-- if seller, also display email, address, and reviews -->

{% if user.id in sellers %}

<div>Email: {{user.email}}</div>

<div>Address: {{user.address}}</div>

<br><br>

<!-- these are reviews of this user/seller by other users -->

<h2>Seller Reviews: {{review_avg}}/5.0 ({{review_count}})</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">buyer id</th>
      <th scope="col">rating</th>
      <th scope="col">comment</th>
      <th scope="col">date</th>
    </tr>
  </thead>
  <tbody>
    {% for r in reviews%}
      <tr>
        <!-- <td>{{r.buyer_id}}</td> -->
        <td><a href="{{ url_for('users.publicprofile', uid=r.buyer_id) }}" type="button" class="btn btn-light">{{r.buyer_id}}</a></td>
        <td>{{r.rating}}</td>
        <td>{{r.comment}}</td>
        <td>{{r.date}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endif %}

{% endblock %}
