<!-- This is the private user profile (not the public view) -->

{% extends "base.html" %}

{% block content %}

{% if current_user.is_authenticated %}

{% if current_user.id in sellers %}
<p></p>
<p><a href="{{ url_for('inventory.index') }}" type="button" class="btn btn-secondary">Seller Inventory</a></p>
{% endif %}

<p></p>

<h2 style="text-align: center">Private User Profile</h2>

<!-- Display (and edit) all user information -->

<div>Name: <a href="{{ url_for('users.editname') }}">{{current_user.firstname}} {{current_user.lastname}}</a></div>

<div>Account number: {{current_user.id}}</div>

<div>Email: <a href="{{ url_for('users.editemail') }}">{{current_user.email}}</a></div>

<div>Address: <a href="{{ url_for('users.editaddress') }}">{{current_user.address}}</a></div>

<div>Balance: <a href="{{ url_for('users.editbalance') }}">${{current_user.balance}}</a></div>

<p></p>
<div><a href="{{ url_for('users.editpassword') }}">Update Password</a></div>

<p></p>
<div>(Click on your information above to edit it)</div>

<!-- Button to view public profile -->
<br><br>
<div><a href="{{ url_for('users.publicprofile', uid=current_user.id, sortoption=0) }}">View Your Public Profile</a></div>

{% if current_user.id not in sellers %}
<br><br>
<div>Want to become a seller? <a href="{{ url_for('products.addProduct') }}">Add Product</a></div>
{% endif %}

<br><br>

<!-- view recent purchases -->

<h2>Your recent purchases:</h2>

<!-- sort recent purchases by time bought, purchase id, product id, or seller id -->

<!-- script in JS for dropdown sorting menu -->
<script>
  // Method used for selecting correct sort option after page is reloaded
  function selected(val) {
    var desc = "<option value=\"0\">Time Desc</option>"
    var asc = "<option value=\"1\">Time Asc</option>"
    var pur = "<option value=\"2\">Purchase ID</option>"
    var pro = "<option value=\"3\">Product ID</option>"
    var sel = "<option value=\"4\">Seller ID</option>"
    if (val == "0") {
      desc = "<option value=\"0\" selected>Time Desc</option>"
    } else if (val == "1") {
      asc = "<option value=\"1\" selected>Time Asc</option>"
    } else if (val == "2") {
      pur = "<option value=\"2\" selected>Purchase ID</option>"
    } else if (val == "3") {
      pro = "<option value=\"3\" selected>Product ID</option>"
    } else if (val == "4") {
      sel = "<option value=\"4\" selected>Seller ID</option>"
    } else {
      desc = "<option value=\"0\" selected>Time Desc</option>"
    }
    document.write(desc)
    document.write(asc)
    document.write(pur)
    document.write(pro)
    document.write(sel)
  }
</script>

<div style="text-align: right">Sort By:</div>

<!-- Dropdown for sorting options -->
<div style="text-align: right">
  <select name="sort-options" id="sort-options" class="drop-down" onchange="location = this.value">
    <script>selected({{sortoption}})</script>
  </select>
</div>

<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Purchase ID</th>
      <th scope="col">Product ID</th>
      <th scope="col">Seller ID</th>
      <th scope="col">Time Purchased</th>
    </tr>
  </thead>
  <tbody>
    {% for purchase in purchase_history%}
      <tr>
        <th scope="row">{{purchase.id}}</th>
        <td><a href="{{ url_for('products.products', pid=purchase.pid, sortoption=0) }}" type="button" class="btn btn-light">{{purchase.pid}}</a></td>
        <!-- <td>{{purchase.seller_id}}</td> -->
        <td><a href="{{ url_for('users.publicprofile', uid=purchase.seller_id, sortoption=0) }}" type="button" class="btn btn-light">{{purchase.seller_id}}</a></td>
        <td>{{purchase.time_purchased}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<br><br>

<!-- view product ratings this user has given -->

<h2>Your product ratings/reviews:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Rating</th>
      <th scope="col">Review</th>
      <th scope="col">Time Purchased</th>
    </tr>
  </thead>
  <tbody>
    {% for r in prod_reviews%}
      <tr>
        <td>{{r.product_id}}</td>
        <td>{{prod_names[loop.index-1]}}</td>
        <td>{{r.rating}}</td>
        <td>{{r.comment}}</td>
        <td>{{r.date}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<br><br>

<!-- view ratings this user has given other sellers -->

<h2>Your seller ratings/reviews:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Seller ID</th>
      <th scope="col">Seller Name</th>
      <th scope="col">Rating</th>
      <th scope="col">Review</th>
      <th scope="col">Date of Review</th>
    </tr>
  </thead>
  <tbody>
    {% for r in seller_reviews%}
      <tr>
        <td><a href="{{ url_for('users.publicprofile', uid=r.seller_id, sortoption=0) }}" type="button" class="btn btn-light">{{r.seller_id}}</a></td>
        <td>{{seller_names[loop.index-1]}}</td>
        <td>{{r.rating}}</td>
        <td>{{r.comment}}</td>
        <td>{{r.date}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endif %}

{% endblock %}
