<!-- This is the private user profile (not the public view) -->

{% extends "base.html" %}

{% block content %}

{% if current_user.is_authenticated %}

{% if current_user.id in sellers %}
<p></p>
<p><a href="{{ url_for('inventory.index') }}" type="button" class="btn btn-secondary">Seller Inventory</a></p>
{% endif %}

<p></p>

<h2 style="text-align: center">Private User Profile</h2>

<!-- Display (and edit) all user information -->

<div>Name: <a href="{{ url_for('users.editname') }}">{{current_user.firstname}} {{current_user.lastname}}</a></div>

<div>Account number: {{current_user.id}}</div>

<div>Email: <a href="{{ url_for('users.editemail') }}">{{current_user.email}}</a></div>

<div>Address: <a href="{{ url_for('users.editaddress') }}">{{current_user.address}}</a></div>

<div>Balance: <a href="{{ url_for('users.editbalance') }}">${{current_user.balance}}</a></div>

<p></p>
<div><a href="{{ url_for('users.editpassword') }}">Update Password</a></div>

<p></p>
<div>(Click on your information above to edit it)</div>

<!-- Button to view public profile -->
<br><br>
<div><a href="{{ url_for('users.publicprofile', uid=current_user.id, sortoption=0) }}">View Your Public Profile</a></div>

<br><br>
<div><a type="button" style="display: inline;""
  href="{{ url_for('users.privateReviews', type='products') }}">View Your Product Reviews</a></div>

<div><a type="button" style="display: inline;""
  href="{{ url_for('users.privateReviews', type='sellers') }}">View Your Seller Reviews</a></div>

{% if current_user.id not in sellers %}
<br><br>
<div>Want to become a seller? <a href="{{ url_for('products.addProduct') }}">Add Product</a></div>
{% endif %}

<br><br>

<!-- view recent purchases -->

<h2>Your recent purchases:</h2>

<!-- sort recent purchases by time bought, purchase id, product id, or seller id -->

<!-- script in JS for dropdown sorting menu -->
<script>
  // Method used for selecting correct sort option after page is reloaded
  function selected(val) {
    var desc = "<option value=\"0\">Time Desc</option>"
    var asc = "<option value=\"1\">Time Asc</option>"
    var pur = "<option value=\"2\">Purchase ID</option>"
    var sel = "<option value=\"3\">Seller Name</option>"
    var qua = "<option value=\"4\">Quantity</option>"
    var ful = "<option value=\"5\">Status</option>"
    if (val == "0") {
      desc = "<option value=\"0\" selected>Time Desc</option>"
    } else if (val == "1") {
      asc = "<option value=\"1\" selected>Time Asc</option>"
    } else if (val == "2") {
      pur = "<option value=\"2\" selected>Purchase ID</option>"
    } else if (val == "3") {
      sel = "<option value=\"3\" selected>Seller Name</option>"
    } else if (val == "4") {
      pro = "<option value=\"4\" selected>Quantity</option>"
    } else if (val == "5") {
      sel = "<option value=\"5\" selected>Status</option>"
    } else {
      desc = "<option value=\"0\" selected>Time Desc</option>"
    }
    document.write(desc)
    document.write(asc)
    document.write(pur)
    document.write(sel)
    document.write(qua)
    document.write(ful)
  }
</script>

<!-- Dropdown for sorting options and product name search bar -->
<div style="text-align: right">
  Sort By:
  <select name="sort-options" id="sort-options" class="drop-down" onchange="location = this.value">
    <script>selected({{sortoption}})</script>
  </select>
  <form action="{{ url_for('users.sortedprofile', sortoption=0) }}" method="POST">
    {{ form.csrf_token }}
    {{ form.hidden_tag() }}
    <p>
      {{ form.searchValue.label }}<br/>
      {{ form.searchValue(size=32) }}<br/>
      {% for error in form.searchValue.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p><a href="{{ url_for('users.sortedprofile', sortoption=0) }}" type="button" class="btn btn-light">Clear</a> {{ form.submit() }}</p>
  </form>
</div>

<p></p>

<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Purchase ID</th>
      <th scope="col">Seller Name</th>
      <th scope="col">Product Name</th>
      <th scope="col">Time Purchased</th>
      <th scope="col">Quantity</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    {% for purchase in purchase_history%}
      <tr>
        <th scope="row">{{purchase.id}}</th>
        <td><a href="{{ url_for('users.publicprofile', uid=purchase.seller_id, sortoption=0) }}" type="button" class="btn btn-light">{{purchase.bfname+' '+purchase.blname}}</a></td>
        <td><a href="{{ url_for('products.products', pid=purchase.pid, sortoption=0) }}" type="button" class="btn btn-light">{{purchase.pname}}</a></td>
        <td>{{purchase.time_purchased}}</td>
        <td>{{purchase.quantity}}</td>
        {% if purchase.fulfilled == 'f'%}
        <td>Fulfilled</td>
        {% else %}
        <td>Not Fulfilled</td>
        {%endif%}
      </tr>
    {% endfor %}
  </tbody>
</table>

<br><br>


{% endif %}

{% endblock %}
